page-about {
.background-home{
    background:#1a0a3a;
    color: #ffffff;
}
.content-about{
    width: 100%;
    height: 100%;
    border-radius:1px;
    box-shadow: 0 2px 30px rgba(0,0,0,0.397);
    background: lighten(rgba(0,0,0,0.397),10%);
    position: relative;
    overflow: hidden; 
}
.menu-home-active{
    background-color:#ff3e62;
    height: 50px;
    width: 50px;
    border-radius: 50%   
}
.menu-home-active2{
    position: relative;
    left: 10%;
    background-color:#00ccff;
    height: 50px;
    width: 50px;
    border-radius: 50%   
}
.menu-home-noactive{
    height: 50px;
    width: 50px;

}
.menu-top{
    padding: 12.5%;
    padding-top: 10%;
}
.menu-top2{
    padding: 12.5%;
    padding-top: 10%;
    position: relative;
    right: 10%;
}
.pos{
    position:relative;
    left: 18%;
    padding-top: 30%;
    
}
.pos.pos1{
    color: #ff3e62;
}
.pos2{
    position:relative;
    left: 22%;
    padding-top: 30%;
    
}
.pos2.pos3{
    color: #00ccff;
}

}
