<ion-content padding class="background-home">
    <div class="content-about">
    <!-- head -->
    <h1>Mode Settings</h1>
    <br>
    <div style="color:#998ead">Modes<span style="padding-left:70%">Aromas</span></div>

    <!-- mode -->
    <ion-grid slidesPerView="2.6" spaceBetween="10px">
        <ion-row style="padding-bottom:15%;padding-top: 5%;">
          <ion-col>
            <div class="menu-home-active" >
                <img class="menu-top" src="./assets/icon/sun.svg">
                <br>
                <div class="pos pos1" >Heat</div>
            </div>
          </ion-col>
          <ion-col>
            <div class="menu-home-noactive">
                <img class="menu-top"src="./assets/icon/cool.svg">
                <br>
                <div class="pos">Cool</div>
            </div>
          </ion-col>
          <ion-col style="padding-left:15%">
              <div class="menu-home-noactive">
                  <img class="menu-top"src="./assets/icon/cherry.svg">
                  <br>
                  <div class="pos">Cherry</div>
              </div>
            </ion-col>
            <ion-col>
                <div class="menu-home-active2">
                    <img class="menu-top2"src="./assets/icon/ice.svg">
                    <br>
                    <div class="pos2 pos3">Ice</div>
                </div>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <div class="menu-home-noactive">
                    <img class="menu-top" src="./assets/icon/Wind.svg">
                    <br>
                    <div class="pos">Wet</div>
                </div>
            </ion-col>
            <ion-col>
                <div class="menu-home-noactive">
                    <img class="menu-top" src="./assets/icon/dry2.svg">
                    <br>
                    <div class="pos">Dry</div>
                </div>
            </ion-col>
            <ion-col style="padding-left:15%">
                <div class="menu-home-noactive">
                    <img class="menu-top"src="./assets/icon/grape.svg">
                    <br>
                    <div class="pos">Grape</div>
                </div>
              </ion-col>
              <ion-col>
                  <div class="menu-home-noactive">
                      <img class="menu-top"src="./assets/icon/lime.svg">
                      <br>
                      <div class="pos">Lime</div>
                  </div>
              </ion-col>
          </ion-row>
      </ion-grid>
      <br>
      <br>
      <br>
      <br>

<!-- text -->
<div style="color:#998ead">Temperature</div>
<br>
<br>
<br>
<!-- text -->
<div style="font-size:150px;text-align:center;">19<span style="font-size:20px">temp</span></div>

</div>
</ion-content>
