<!-- <ion-header>
  <ion-navbar>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>  -->

<ion-content padding class="background-home">
  <div class="content-home">
  <br>
  <!-- header -->
  <h1>Select Climate</h1><p></p>
  <h1>Setting</h1><p></p>
  <h5 style="color:#998ead">Favorite Present</h5>
  
  <!-- slind -->
  <ion-slides  slidesPerView="2.6" spaceBetween="10px" style="height: 30%;">
      <ion-slide>
        <div class="menu-home-active">
            <img class="menu-top"src="./assets/icon/sun.svg">
            <span>Heat</span><br>
            <span class="t-num">10°-19°</span> 
        </div>
      </ion-slide>
      <ion-slide>
        <div class="menu-home-close">            
          <img class="menu-top"src="./assets/icon/cool.svg">
          <span>Cool</span><br>
          <span class="t-num">3°-7°</span> 
        </div>
      </ion-slide>
      <ion-slide>
        <div class="menu-home-close">          
          <img class="menu-top"src="./assets/icon/Wind.svg">
          <span>Wet</span><br>
          <span class="t-num">7°-11°</span>
        </div>
      </ion-slide>
      <ion-slide>
        <div class="menu-home-close">          
          <img class="menu-top"src="./assets/icon/dry2.svg">
          <span>Dry</span><br>
          <span class="t-num">14°-38°</span></div>
      </ion-slide>
      <ion-slide>
        <div class="menu-home-close">
            <img class="menu-top"src="./assets/icon/cherry.svg">
            <span>Cherry</span><br>
            <span class="t-num">1°-11°</span>
        </div>
      </ion-slide>
      <ion-slide>
          <div class="menu-home-close">
              <img class="menu-top"src="./assets/icon/ice-h.svg">
              <span>Ice</span><br>
              <span class="t-num">12°-17°</span>
          </div>
      </ion-slide>
      <ion-slide>
          <div class="menu-home-close">
              <img class="menu-top"src="./assets/icon/grape.svg">
              <span>Grape</span><br>
              <span class="t-num">10°-35°</span>
          </div>
      </ion-slide>
      <ion-slide>
          <div class="menu-home-close">
              <img class="menu-top"src="./assets/icon/lime.svg">
              <span>Lime</span><br>
              <span class="t-num">11°-12°</span>
          </div>
        </ion-slide>
  </ion-slides>

  <!-- text -->
  <div class="font-temp" style="font-size:150px">19<span style="font-size:20px">temp</span></div>

  <!-- wave Footer -->

  <div class="wave"></div>
  <div class="wave wave1"></div>
  <div class="wave wave2"></div>
  
</div>
</ion-content>
