page-home {
.background-home{
    background:#1a0a3a;
    color: #ffffff;

}
.wave{
    position: absolute;
    background: #6285c6;
    width: 900px;
    height: 900px; 
    border-radius: 38%; //ทำเป็น 100px หรือ 50% ก่ะได้ ปกติ 43%
    transform-origin: 50% 48%; 
    animation: drift 3000ms infinite linear;
    opacity: 0.3;
    bottom:-135%;
    left:-70%;
}
.wave.wave1{
    animation: drift 6000ms infinite linear;
}
.wave.wave2{
    animation: drift 8000ms infinite linear;
    opacity: 100%;

}
@keyframes drift {
    from{transform: rotate(0deg);}
    from{transform: rotate(360deg);}
}
.menu-home-active{
    background-color:#ff3e62;
    height: 170px;
    //width: 170px;
    border-radius: 3px
    

}
.menu-home-close{
    border-color:#ffffff0e;
    border-style:solid; 
    height: 170px;
    //width: 170px;
    border-radius: 3px;

}

.font-temp{
    text-align: center;
}

.menu-top{
    padding: 30%;
    padding-top: 10%;
    padding-bottom: 5%;
}

.content-home{
    width: 100%;
    height: 100%;
    border-radius:1px;
    box-shadow: 0 2px 30px rgba(0,0,0,0.397);
    background: lighten(rgba(0,0,0,0.397),10%);
    position: relative;
    overflow: hidden; 
}
.t-num{
    padding-top: 10%;
    font-size: 150%
}

}
